.main-section {
    padding: 7em 0;
    position: relative;
    color: var(--sub2-color);
}

.form-group {
    margin-bottom: 1rem;
}

.text-success {
    color: #00d632 !important;
}

.col-md-12 label,
.col-lg-4 .p-4 p {
    color: var(--sub2-color);
}

.col-lg-4 .p-4 p a {
    color: var(--hover-main-color);
    text-decoration: none;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

.font-weight-bold {
    color: var(--sub2-color);
    font-weight: 700;
}

.btn-primary {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--main-button-background-color);
    background-color: var(--main-button-background-color);
    border-radius: 4px;
    color: white;
}

.btn:hover {
    background-color: var(--hover-main-button-background-color);
}
