.main-section {
    padding: 7em 0;
    position: relative;
}

.all-candidates {
    padding-left: 12%;
    padding-right: 12%;
}

.candidate-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.team {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: start;
    gap: 20px;
    transition: all 0.3s ease;
}

.team .img {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.text {
    display: grid;
    gap: 10px;
}

.location,
.seen {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.position {
    font-size: 14px;
    font-weight: 600;
    color: #ff6347;
    background: snow;
    padding: 0 10px;
    border-radius: 5px;
    text-transform: capitalize;
    margin: 0 auto auto 0;
}

.btn-primary {
    padding: 10px 20px;
    border: 1px solid var(--main-button-background-color);
    background-color: var(--main-button-background-color);
    border-radius: 4px;
    color: white;
}

.btn-primary:hover {
    background-color: var(--hover-main-button-background-color);
}

.block-27 ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.block-27 ul li {
    display: inline-block;
}

.block-27 ul li.active span {
    background: #ff6347;
    color: #fff;
    border: 1px solid transparent;
}

.block-27 ul li a:hover {
    background: #ff6347;
    color: #fff;
    border: 1px solid transparent;
}

.block-27 ul li a,
.block-27 ul li span {
    color: #ff6347;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ff6347;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 767px) {
    .candidate-grid {
        grid-template-columns: 1fr;
    }
    .team {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .team .img,
    .position {
        margin: 0 auto;
    }
}