<div class="section-one">
  <div class="catego">
    <div class="box-text">
      <div class="heading-text">
      <span>Job Categories</span>
      <h2 class="top">Top Categories</h2>
    </div>
    </div>
  </div>
  <!--Categories-->
  <div class="catego-box">
    <!--one-->
    <div class="job-category">
        <a href="">Web Development
        <div class="positions">
            <span class="posit-num">100</span>
            <span class="free">Open position</span>
        </div>
        </a>
    </div>
    <!--two-->
      <div class="job-category">
        <a href="">Education & Training
        <div class="positions">
            <span class="posit-num">400</span>
            <span class="free">Open position</span>
        </div>
        </a>
    </div>
    <!--three-->
    <div class="job-category">
      <a href="">PHP Programming
      <div class="positions">
          <span class="posit-num">324</span>
          <span class="free">Open position</span>
      </div>
      </a>
    </div>
    <!--four-->
    <div class="job-category">
    <a href="">Web Designer
    <div class="positions">
        <span class="posit-num">354</span>
        <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--five-->
    <div class="job-category">
    <a href="">Graphic Designer
    <div class="positions">
      <span class="posit-num">143</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--six-->
    <div class="job-category">
    <a href="">English
    <div class="positions">
      <span class="posit-num">200</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--seven-->
    <div class="job-category">
    <a href="">Project Management
    <div class="positions">
      <span class="posit-num">100</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--eight-->
    <div class="job-category">
    <a href="">Customer Service
    <div class="positions">
      <span class="posit-num">564</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--nine-->
    <div class="job-category">
    <a href="">Multimedia
    <div class="positions">
      <span class="posit-num">100</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--ten-->
    <div class="job-category">
    <a href="">Social Media
    <div class="positions">
      <span class="posit-num">300</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--eleven-->
    <div class="job-category">
    <a href="">Finance Management
    <div class="positions">
      <span class="posit-num">222</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--twelve-->
    <div class="job-category">
    <a href="">Marketing & Sales
    <div class="positions">
      <span class="posit-num">234</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--thirteen-->
    <div class="job-category">
    <a href="">Advertising
    <div class="positions">
      <span class="posit-num">90</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--fourteen-->
    <div class="job-category">
    <a href="">Writing
    <div class="positions">
      <span class="posit-num">150</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--fifteen-->
    <div class="job-category">
    <a href="">Office & Admin
    <div class="positions">
      <span class="posit-num">123</span>
      <span class="free">Open position</span>
    </div>
    </a>
    </div>
    <!--sixteen-->
    <div class="job-category">
      <a href="">Software Development
      <div class="positions">
      <span class="posit-num">425</span>
      <span class="free">Open position</span>
      </div>
    </a>
    </div>
  </div>
</div>
