.nav {
    background: transparent;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 3;
}

.nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.nav .navbar-brand {
    font-weight: bold;
    font-size: 20px;
}

.main-link {
    font-weight: bolder;
}

.nav .container .collapse ul li {
    margin-left: 10px;
}

.nav .nav-link.active {
    color: var(--hover-main-color) !important;
}

.nav .nav-link:hover {
    color: var(--hover-main-color);
}

.nav .nav-link.post {
    padding: 10px 20px;
    border: 1px solid var(--main-button-background-color);
    background-color: var(--main-button-background-color);
    border-radius: 4px;
    color: white;
}

.nav .nav-link.want {
    padding: 10px 20px;
    border: 1px solid var(--sub-button-background-color);
    background-color: var(--sub-button-background-color);
    border-radius: 4px;
    color: white;
}

.nav .nav-link.active.post,
.nav .nav-link.active.want {
    color: white !important;
}

@media (max-width: 991px) {
    .nav {
        background-color: rgba(255, 255, 255, 0.8);
        top: 0;
    }
    .nav .nav-link.post,
    .nav .nav-link.want {
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 426px) {
    .navbar-toggler {
        border: none;
    }
    .nav-item {
        margin-bottom: 10px;
    }
}