
.navbar{
  margin-right: 6%;
  background-color: transparent !important;
}
/* .nav.sticky{
  background-color: white !important;
  position: sticky !important;
  top: 300 !important;
  z-index: 1000000 !important;
} */
.main-link {
    font-weight: bolder;
}
@media (max-width: 426px) {
  .show {
    display: block;
    background-color: white;
    width: 300px;
    height: 320px;
    border-radius: 4px;
    z-index: 20000;
    padding: 10px;
    transition: 0s !important;
  }
  .show  ul .post {
    margin-bottom:5px;
  }
}
.nav .container .collapse ul li {
    margin-left: 10px;
}

.nav .navbar-brand {
    font-weight: bold;
    font-size: 20px;
}

.nav .nav-link.active {
    color: var(--hover-main-color) !important;
}

.nav .nav-link:hover {
    color: var(--hover-main-color);
}

.nav .nav-link.post {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--main-button-background-color);
    background-color: var(--main-button-background-color);
    border-radius: 4px;
    color: white;
}

.nav .nav-link.active.post,
.nav .nav-link.active.want {
    color: white !important;
}

.nav .nav-link.want {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--sub-button-background-color);
    background-color: var(--sub-button-background-color);
    border-radius: 4px;
    color: white;
}
