.mainsec{
  padding: 150px 0px;
}
.form-control:focus {
  border-color:black;
  outline: 0;
  box-shadow:none;
}
input{
  color: #495057;
}
.btn{
  background-color: var(--main-button-background-color);
}
@media(max-width: 426px) {
  .cont-info{
    padding: 0px 25px;
  }
  iframe{
    height: 400px;
    padding: 0px 25px;
  }
}
