
<div class="main3 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 z-1 py-3 row">
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span><i class="fa-solid fa-user-tie text-white mb-3"></i></span>
            <span class="num text-white py-3">{{ jopCount }}</span>
            <span class="descrp">Jops</span>
          </div>
        </div>
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span><i class="fa-solid fa-users-line text-white mb-3"></i></span>
            <span class="num text-white py-3">{{ memberCount }}</span>
            <span class="descrp">Members</span>
          </div>
        </div>
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span><i class="fa-solid fa-file-lines text-white mb-3"></i></span>
            <span class="num text-white py-3">{{ resumeCount }}</span>
            <span class="descrp">Resume</span>
          </div>
        </div>
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span
              ><i class="fa-solid fa-building-user text-white mb-3"></i
            ></span>
            <span class="num text-white py-3">{{ companyCount }}</span>
            <span class="descrp">Company</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="position-relative">
<div class="container bg-white position-relative">

    <div class="mainSlider">
      <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center">
        <p class="text-black-50">Testimonial</p>
        <h2 class="mb-4" style="font-size: 30px;font-weight: 900;">Happy Clients</h2>
      </div>
      </div>
      <div id="carouselExampleIndicators" class="carousel ">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>

      </div>
          <div class="carousel-inner bg-white pt-3 pb-5 mb-5 position-relative">
          <div class="carousel-item active pb-5 ">
            <div>
              <div class="item">
                <div class="test-img mb-4 rounded-circle position-relative">
                  <img class="w-100 rounded-circle" src="./img/person_1.jpg" alt="">
                  <span class="position-absolute circle-q d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left fa-xl"></i>
                  </span>
                </div>
                <p class="mb-4 text-black-50">
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mt-0 mb-1">
                  Roger Scott
                </p>
                <span>System Analyst</span>
              </div>
            </div>
          </div>
          <div class="carousel-item pb-5 ">
            <div>
              <div class="item">
                <div class="test-img mb-4 rounded-circle position-relative">
                  <img class="w-100 rounded-circle" src="./img/person_2.jpg" alt="">
                  <span class="position-absolute circle-q d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left fa-xl"></i>
                  </span>
                </div>
                <p class="mb-4 text-black-50">
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mt-0 mb-1">
                  Roger Scott
                </p>
                <span>System Analyst</span>
              </div>
            </div>
          </div>
          <div class="carousel-item pb-5 ">
            <div>
              <div class="item">
                <div class="test-img mb-4 rounded-circle position-relative">
                  <img class="w-100 rounded-circle" src="./img/person_3.jpg" alt="">
                  <span class="position-absolute circle-q d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left fa-xl"></i>
                  </span>
                </div>
                <p class="mb-4 text-black-50">
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mt-0 mb-1">
                  Roger Scott
                </p>
                <span>System Analyst</span>
              </div>
            </div>
          </div>
          <div class="carousel-item pb-5 ">
            <div>
              <div class="item">
                <div class="test-img mb-4 rounded-circle position-relative">
                  <img class="w-100 rounded-circle" src="./img/person_1.jpg" alt="">
                  <span class="position-absolute circle-q d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left fa-xl"></i>
                  </span>
                </div>
                <p class="mb-4 text-black-50">
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mt-0 mb-1">
                  Roger Scott
                </p>
                <span>System Analyst </span>
              </div>
            </div>
          </div>
          <div class="carousel-item pb-5 ">
            <div>
              <div class="item">
                <div class="test-img mb-4 rounded-circle position-relative">
                  <img class="w-100 rounded-circle" src="./img/person_6.jpg" alt="">
                  <span class="position-absolute circle-q d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left fa-xl"></i>
                  </span>
                </div>
                <p class="mb-4 text-black-50">
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mt-0 mb-1">
                  Roger Scott
                </p>
                <span>System Analyst</span>
              </div>
            </div>
          </div>
          <div class="carousel-item pb-5 ">
            <div>
              <div class="item">
                <div class="test-img mb-4 rounded-circle position-relative">
                  <img class="w-100 rounded-circle" src="./img/person_1.jpg" alt="">
                  <span class="position-absolute circle-q d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left fa-xl"></i>
                  </span>
                </div>
                <p class="mb-4 text-black-50">
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mt-0 mb-1">
                  Roger Scott
                </p>
                <span>System Analyst</span>
              </div>
            </div>
          </div>
          <div class="carousel-item pb-5 ">
            <div>
              <div class="item">
                <div class="test-img mb-4 rounded-circle position-relative">
                  <img class="w-100 rounded-circle" src="./img/person_3.jpg" alt="">
                  <span class="position-absolute circle-q d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left fa-xl"></i>
                  </span>
                </div>
                <p class="mb-4 text-black-50">
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mt-0 mb-1">
                  Roger Scott
                </p>
                <span>System Analyst</span>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="" aria-hidden="true"><i class="fa-solid fa-circle-chevron-left fa-2xl"></i></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="" aria-hidden="true"><i class="fa-solid fa-circle-chevron-right fa-2xl"></i></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>


