.main3 {
  padding: 100px 0px;
  background-image: url("../../../public/img/bg_1.jpg");
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
}

.main3::after {
  content: "";
  background-color: var(--sub1-background-color);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: .9;
}

.main3 .num {
  font-size: 34px;
  font-weight: 500;
}

.main3 .descrp {
  font-size: 18px;
  font-weight: 500;
  color: #ffffffb3;
}

.main3 span i {
  font-size: 60px;
}


.main3 .col-md-3 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-in-out;
}
.move-up {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: all 0.9s ease-in-out !important;
}
.mainSlider{
  padding: 70px 0px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0px;
  margin-right: 10px;
  margin-left: 3px;
  cursor: pointer;
  background-color:rgb(229 229 229);
  background-clip: padding-box;
  position: relative;
}
.carousel-indicators .active{
    background-color: var(--sub-button-background-color);
}
.carousel-indicators [data-bs-target]:after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  content: '';
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .carousel-inner{
    display: flex;
  }
  .carousel-item {
      flex: 0 0 calc(100% / 3);
      display: block;
      margin-right: 30px;
    }
}

.carousel-item .item{
  line-height: 1.7;
}
.carousel-item .item .test-img{
  width: 100px;
  height: 100px;
}
.circle-q{
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  top: 70px;
  left: 60px;
}
.circle-q i{
  color:var(--sub-button-background-color) ;
}
.carousel-item .item span{
  color: #ccc;
  text-transform: uppercase;
  font-size: 14px;
}
.carousel-control-prev,
.carousel-control-next{
  width: 50px;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  border-radius: 50%;
}
.carousel-control-next{
  position: absolute;
  right: 10px;
}
.carousel-control-prev{
  position: absolute;
  left: 10px;
}
.carousel-control-next span i,
.carousel-control-prev span i{
    color: #ff6347;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
}
.fa-chevron-circle-right:before{
  width: 40px;
}
