<div class="main3 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 z-1 py-3 row">
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span><i class="fa-solid fa-user-tie text-white mb-3"></i></span>
            <span class="num text-white py-3">{{ jopCount }}</span>
            <span class="descrp">Jops</span>
          </div>
        </div>
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span><i class="fa-solid fa-users-line text-white mb-3"></i></span>
            <span class="num text-white py-3">{{ memberCount }}</span>
            <span class="descrp">Members</span>
          </div>
        </div>
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span><i class="fa-solid fa-file-lines text-white mb-3"></i></span>
            <span class="num text-white py-3">{{ resumeCount }}</span>
            <span class="descrp">Resume</span>
          </div>
        </div>
        <div class="col-md-3 my-5">
          <div class="d-flex flex-column text-center">
            <span
              ><i class="fa-solid fa-building-user text-white mb-3"></i
            ></span>
            <span class="num text-white py-3">{{ companyCount }}</span>
            <span class="descrp">Company</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
