
<div class="section-two">

      <div class="jobs">
        <div class="box-two">
          <div class="heading-two">
          <span>Recently Added Jobs</span>
          <h2 class="top">Hot Jobs</h2>
          </div>
        </div>
        <!-- JOB ONE -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Frontend Development</a>
              <span class="job-type bg-freelance">Freelance</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB TWO -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Full Stack Developer</a>
              <span class="job-type bg-fulltime">Fulltime</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB Three -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Open Source Developer</a>
              <span class="job-type bg-partime">Partime</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB Four -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Backend Development</a>
              <span class="job-type bg-internship">Internship</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB Five -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">UI/UX Design</a>
              <span class="job-type bg-temporary">Temporary</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB Six -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Software Testing</a>
              <span class="job-type bg-fulltime">Fulltime</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB Seven -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Cyber Security</a>
              <span class="job-type bg-freelance">Freelance</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB Eight -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Machine Learning</a>
              <span class="job-type bg-internship">Internship</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- JOB Nine -->
        <div class="column-jobs">
          <div class="job-details">
            <div class="details">
              <a href="#" class="job-title">Android Development</a>
              <span class="job-type bg-temporary">Temporary</span>
            </div>
              <div class="location">
                <i class="fa-solid fa-layer-group"></i>
                  <a href="#">FACEBOOK, INC.</a>
                  <i class="fa-solid fa-location-crosshairs"></i>
                  WESTERN CITY, UK
              </div>
          </div>
          <div class="apply-button">
              <i class="fas fa-heart"></i>
              <button>Apply Job</button>
          </div>
        </div>
        <!-- End Of JOBs -->

  </div>
</div>
