<app-navbar></app-navbar>
<!-- start landing -->
<div class="landing">
    <div class="container px-0">
        <div class="row mt-5">
            <div class="col-lg-5">
              <div class="text mt-5 ">
                <p class="mb-4 mt-5 mt-5">We have <span class="number">{{ jopCount | number }}</span> great jop offer you deserve!</p>
                <h1 class="mb-5">Largets Job Site In The World</h1>
                <div class="search">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Find a Jop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Find a Candidate</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-12 wrap">
                      <div class="tab-content">
                        <div class="tap-input show">
                          <div class="input-icon">
                            <i class="fa-solid fa-briefcase"></i>
                            <input type="text" placeholder="eg. Graphic, Web Developer">
                          </div>
                          <div class="col-md">
                              <select name="" id="">
                                <option value="">Category</option>
                                <option value="">Full Time</option>
                                <option value="">Part Time</option>
                                <option value="">Freelance</option>
                                <option value="">Internship</option>
                                <option value="">Temporary</option>
                              </select>
                          </div>
                          <div class="col-md">
                            <div class="input-icon">
                              <i class="fa-solid fa-location-dot"></i>
                              <input type="text" placeholder="Location">
                            </div>
                          </div>
                          <div class="col-md">
                            <button>Search</button>
                          </div>
                        </div>
                        <!-- <div class="tap-input ">
                          <div class="col-md">
                            <div class="icon">
                              <i class="fa-solid fa-briefcase"></i>
                            </div>
                            <input type="text" placeholder="eg. Adam Scott">
                          </div>
                          <div class="col-md">
                            <select name="" id="">
                              <option value="">Category</option>
                              <option value="">Full Time</option>
                              <option value="">Part Time</option>
                              <option value="">Freelance</option>
                              <option value="">Internship</option>
                              <option value="">Temporary</option>
                            </select>
                          </div>
                          <div class="col-md">
                              <i class="fa-solid fa-location-dot"></i>
                            <input type="text" placeholder="Location">
                          </div>
                          <div class="col-md">
                            <button>Search</button>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-lg-7">
                <img src="./img/undraw_work_time_lhoj.svg" alt="">
              </div>
            </div>
          </div>
        </div>

<!-- end landing -->

<app-top-categories></app-top-categories>
<app-hot-jops></app-hot-jops>
<app-counter-testimonials></app-counter-testimonials>
<app-footer></app-footer>
